#version=OL8
# Use graphical install
#graphical
#cmdline
text

# Reboot when the install is finished.
reboot

repo --name="AppStream" --baseurl=file:///run/install/sources/mount-0000-cdrom/AppStream

%packages
@^minimal-environment
kexec-tools


%end
#sed -i 's|#PermitRootLogin|PermitRootLogin|g' /etc/ssh/sshd_config
# Keyboard layouts
keyboard --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=static --device=eth0 --gateway=192.168.0.1 --ip=192.168.0.11 --nameserver=192.168.0.1,192.168.0.2 --netmask=255.255.255.0 --noipv6 --activate
network  --hostname=oracle.domain.local

# Use CDROM installation media
cdrom

# Run the Setup Agent on first boot
firstboot --enable

ignoredisk --only-use=sda
# Partition clearing information
clearpart --none --initlabel
# Disk partitioning information
part pv.111 --fstype="lvmpv" --ondisk=sda --size=60000
part /boot --fstype="xfs" --ondisk=sda --size=1024
part /boot/efi --fstype="efi" --ondisk=sda --size=600 --fsoptions="umask=0077,shortname=winnt"
volgroup vg01 --pesize=4096 pv.111
logvol /home --fstype="xfs" --size=38912 --name=home --vgname=vg01
logvol / --fstype="xfs" --size=16808 --name=root --vgname=vg01
logvol swap --fstype="swap" --size=2044 --name=swap --vgname=vg01
logvol /tmp --fstype="xfs" --size=2048 --name=tmp --vgname=vg01

# System timezone
timezone Europe/Moscow --isUtc --nontp

# Root password
rootpw --iscrypted PASSWORDHEX
user --groups=wheel --name=packer --password=PASSWORDHEX --iscrypted --gecos="packer"

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
